/*home*/
body.homepage nav.navbar {
    width: 90vw;
    position: absolute;
    top: 10px;
    z-index: 1;
}

.homepage .navbar a {
    color: white;
    font-weight: 500px;
}

.homepage .navbar p {
    color: white;
}

.home {
    max-width: 100vw;
    height: 100vh;


}

.home img {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.home .overlay {
    max-width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(14, 15, 15, 0.5);
    z-index: 1;

}

.homepage .nav-item .nav-link:hover {
    color: #ff6f61;
}


.homet {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0px;
    left: 0px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.homet h1 {
    font-family: "Arimo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.homet h1 {
    font-size: 5vw;
}

.time {
    width: 90vw;
    top: 92%;
    left: 5%;
    color: white;
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    margin-right: 10px;
    z-index: 1;

}

@media (max-width:768px) {
    .time h5 {
        font-size: 11px;
        margin: 8px;
    }

}

/*About*/
.about {
    width: 100vw;
    min-height: 100vh;
    background-image: url("../img/edward-unsplash-blur.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;

}
@media (max-width:768px) {
    .aimgt{
        display: none;
    }


}



.at h1,
h3 {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;

}

.at {
    color: white;
}

.aimg {
    width: 80%;
    min-height: 400px;
    background-size: cover;
    background-image: url("../img/pexels-alexander-suhorucov-6457579.jpg");
    background-position: center;
    border-radius: 2%;
    position: relative;


}

.overlay{ 
    position: absolute;
     background-color: rgba(244, 240, 240, 0.8); 
     border-radius: 2%;
      top:220px;
       bottom: 50px;
        left: 15px;
         right: 15px; 
}
                
.aimgt {
    width: 60vw;
    height: 65vh;
    position: absolute;
    top: 120%;
    left: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
@media (max-width: 576px) {
    .aimgt {
        top: 1580px;  
         left: 8%;      
    }

    .overlay {
        width: 210px;
        height: 160px;   
    }
}



.aimgt h4 {
    font-weight: 800;
}

.iconp {
    width: 30px;
    height: 50px;
    background-color: rgb(213, 213, 44);
    margin-right: 30px;
    border-radius: 50%;

}

/*Artists*/
.artist {
    width: 90vw;
    min-height: 100vh;
}

.artist h1 {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;

}



.art1 img {
    width: 95%;
    height: 75%;
    border-radius: 5%;
    margin-left: 80px;
}

.img1 {
    width: 80%;
    min-height: 300px;
    background-size: cover;
    background-position: center;
    border-radius: 2%;
    background-image: url("../img/abstral-official-bdlMO9z5yco-unsplash.jpg");
}

.img2 {
    width: 80%;
    min-height: 300px;
    background-size: cover;
    background-position: center;
    border-radius: 2%;
    margin-top: 20px;
    background-image: url("../img/soundtrap-rAT6FJ6wltE-unsplash.jpg");
}

@media (max-width:768px) {
    .art1 img {
      width: 98%;
    min-height: 300px;
    margin-left: 0px;
    
    }
    .img1 ,.img2{
        margin-left: 38px;
        border-radius:5% ;
        margin-bottom: 30px;
    }

    .artist h1{
        font-size: 32px;
    }


}

/*event time*/
.event {
    width: 100vw;
   min-height: 100vh;
    background-image: url("/img/nainoa-shizuru-unsplash-blur.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}
.es h1{
    text-align: center;
    position: absolute;
    top: 10px;
    left: 40%;
    z-index: 2;
    color: white;
    font-weight: 700;
    
}
table{
    border: 1px solid white;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 2%;
    position: absolute;
    border-collapse:collapse ;
    margin: 0%;

}
@media (max-width) {
    table{
        margin-top: 0%;
    }
    
}
.es .overlay{
 position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(14, 15, 15, 0.5);
    z-index: 0;
}
.es h6, p{
    position: relative;
    z-index: 2;
}

table th, td{
    border: 1px solid white;
}
table th{
    height: 50%;
}

table td{
    width: 10%;
    height: 150px;
}
.pop-night{
background-image: url("/img/joecalih-UmTZqmMvQcw-unsplash.jpg");
background-size: cover;
background-position: center;
}
.Music{
background-image: url("/img/soundtrap-rAT6FJ6wltE-unsplash.jpg");
background-size: cover;
background-position: center;
}
.rock{
background-image: url("/img/abstral-official-bdlMO9z5yco-unsplash.jpg");
background-size: cover;
background-position: center;
}
.sch .overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(14, 15, 15, 0.5);
    z-index: 0;
}

/*plans*/
.plan {
    width: 100vw;
    min-height: 80vh;
    background-color: rgb(225, 244, 244);
    padding-top: 500px;
}

.plan h1 {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;

}


.pbox1 {
    width: 70%;
    height: 100%;
    border: 5px dotted black;
    border-radius: 2%;
    margin-left: 50px;
}
@media (max-width: 768px) {
    .pbox1{
        width: 100%;
        height: 100%;
        margin-right: 0%;
    }
    
}

.pbox1 h1,
h4 {
    font-weight: 900;
    font-size: 30px;
}

.ptext {
    color: gray;
}

.ptext1 {
    color: gray;
}

.obox {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: orangered;
    color: white;
}

@media (max-width: 768px) {
    .plan-box {
        flex: 1 1 100%;
        max-width: 100%;
    }
}

/*Contact*/
.talk {
    width: 100vw;
    height: 90vh;
    background-color: aliceblue;
}

.mtalk h1 {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;

}


form input {
    width: 25vw;
    height: 35px;
}



.contact {
    width: 100%;
    min-height: 320px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.red-i i {
    width: 50px;
    height: 50px;
    color: white;

}

.red h1 {
    margin-top: 10px;
}

/*Footer*/

.footer {
    width: 100vw;
    min-height: 80vh;
    color: white;
    background-color: black;
}

.footer h2 {
    font-weight: 700;
    margin-top: 80px;
    color: rgb(239, 239, 64);
}
.red-i{
    float: right;
}